.main {
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  overflow: hidden;
  position: fixed; /*sticky nav-bar*/
  width: 100%;
  top: 0;
  border-bottom: 0.5px solid lightgray;
}

i {
  border: solid rgb(56, 151, 240); /*Filter arrow down*/
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.circle {
  height: 35px;
  width: 35px;
  background-color: aquamarine;
  border-radius: 50%;
  margin-left: 5px;
}
.circle h1 {
  text-align: center;
  font-size: 25px;
}

.mail {
  border-bottom: 1px solid lightgray;
  margin: 10px;
}
.mail h5 {
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}
.mail p {
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: gray;
}

@media only screen and (min-width: 768px) {
  .mail h5 {
    width: 650px;
    font-size: 20px;
  }
  .mail p {
    display: block;
    width: 650px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    color: gray;
  }
}
@media only screen and (min-width: 1000px) {
  .mail h5 {
    width: 900px;
  }
  .mail p {
    width: 900px;
  }
}
@media only screen and (min-width: 1400px) {
  .mail h5 {
    width: 1300px;
  }
  .mail p {
    width: 1300px;
  }
}
